* {
  margin: 0;
}

#root {
  background-color: #010440 ;
  text-align: center;
}

.HomePage {
  height: 1000vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.type {
color: white;
font-family: 'Courier Prime', monospace;
font-size: 50px;
overflow: hidden; 
border-right: 0.15em solid purple; 
white-space: nowrap; 
margin: 0 auto; 
letter-spacing: 0.15em;
animation: typing 3.5s steps(16), blinking 0.75s step-end infinite; /* number of letters */
}

@keyframes typing {
0% {
  width: 0;
}
100% {
  width: 100%;
}
}

@keyframes blinking {
from,
to {
  border-color: transparent;
}
50% {
  border-color: orange;
} 
}

.posts {
  color: white;
  font-family: 'Courier Prime', monospace;
  padding: 4px;
  margin-bottom: 20px;
}

.card {
  background-color: white;
  padding: 4px;
}