* {
  margin: 0;
}

.HomePage {
  background-image: url(/static/hiking-background.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.ButtonContainer {
  margin-top: 40px;
}

.PostsContainer, .PostContainer {
  background-color: whitesmoke;
  padding: 4px;
}

.PostContainer {
  height: 100vh;
  display: grid;
  place-items: center;
}

